* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus,
*:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
  font-family: "Crimson Text", serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: #212529;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.57rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 2.14rem;
}

p {
  font-size: 1.07rem;
  font-family: "Work Sans", sans-serif;
  line-height: 1.4rem;
}

button {
  background: inherit;
}

.btn {
  padding: 12px 30px;
  background: #212529;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 170px;
  font-size: 1.42rem;
  line-height: 1.8rem;
}

.btn:hover {
  background: #74C69D;
}

.label {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.14rem;
  margin-bottom: 16px;
  color: #74C69D;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrapper:nth-child(1) {
  margin-bottom: 55px;
}

.wrapper:nth-child(2) {
  margin-bottom: 45px;
}

.wrapper .slogan {
  max-width: 411px;
  font-size: 1.4rem;
  margin-top: 16px;
  line-height: 1.78rem;
}

.header {
  background: #74C69D;
  padding: 0 0 83px;
  color: #fff;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #74C69D;
  max-width: 1220px;
  padding: 35px 20px 40px;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
}

.header .navbar .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .navbar .navbar__logo svg {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .navbar .navbar__logo path {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .navbar .navbar__logo:hover {
  color: #212529;
}

.header .navbar .navbar__logo:hover svg {
  -webkit-transform: scale(120%);
      -ms-transform: scale(120%);
          transform: scale(120%);
}

.header .navbar .navbar__logo:hover path {
  fill: #212529;
}

.header .navbar .navbar__logo h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin-left: 18px;
}

.header .navbar .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.42rem;
}

.header .navbar .navbar__list .navbar__item {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header .navbar .navbar__list .navbar__item:hover {
  color: #212529;
}

.header .navbar .navbar__list .navbar__item:not(:last-child) {
  margin-right: 30px;
}

.header .navbar .navbar__burger {
  display: none;
}

.header .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .offer .offer__content {
  max-width: 416px;
  margin-right: 10vw;
}

.header .offer .offer__content .offer__label {
  margin-bottom: 15px;
}

.header .offer .offer__content .offer__text {
  margin-top: 15px;
}

.header .offer .offer__content .offer__btn {
  padding: 13px 48px;
  color: #212529;
  background: #fff;
  border-radius: 5px;
  margin-top: 38px;
  display: inline-block;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-size: 1.42rem;
}

.header .offer .offer__content .offer__btn:hover {
  color: #fff;
  background: #212529;
}

.header .offer .offer__wrappre {
  width: 100%;
}

.header .offer .offer__wrappre img {
  width: 100%;
}

.partners {
  padding: 60px 0 43px;
}

.partners .partners__cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partners__cases .partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
  width: 100%;
}

.partners .partners__cases .partners__list .partners__item:not(:last-child) {
  margin: 0 25px 0 0;
}

.partners .partners__cases .partners__list .partners__item svg {
  width: 100%;
}

.partners .partners__cases .partners__list .partners__item .partners__link {
  display: block;
}

.partners .partners__cases .partners__list .partners__item .partners__link path {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.partners .partners__cases .partners__list .partners__item .partners__link:hover path {
  fill: #74C69D;
}

.text-1 {
  padding: 40px 0 37px;
}

.text-1 .text-1__wrapper .text-1__content {
  margin: 0 0 0 9.167vw;
}

.text-2 {
  padding: 37px 0 51px;
}

.text-2 .text-2__wrapper .text-2__content {
  margin: 0 9.167vw 0 0;
}

.text .text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text .text__wrapper .text__img {
  width: 100%;
}

.text .text__wrapper .text__img img {
  width: 100%;
}

.text .text__wrapper .text__content {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text .text__wrapper .text__content .text__text {
  margin: 16px 0;
}

.talents {
  padding: 51px 0 64px;
}

.talents .talents__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.talents .talents__team .talents__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  margin-bottom: 45px;
}

.talents .talents__team .talents__content .talents__card {
  -webkit-box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 252px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.talents .talents__team .talents__content .talents__card:hover {
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
}

.talents .talents__team .talents__content .talents__card:hover img {
  -webkit-transform: scale(110%);
      -ms-transform: scale(110%);
          transform: scale(110%);
}

.talents .talents__team .talents__content .talents__card:hover h3 {
  margin: 15px 0 13px;
  color: #74C69D;
}

.talents .talents__team .talents__content .talents__card:hover p {
  color: #74C69D;
}

.talents .talents__team .talents__content .talents__card img {
  width: 175px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.talents .talents__team .talents__content .talents__card h3 {
  margin: 19px 0 17px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.talents .talents__team .talents__content .talents__card p {
  text-transform: uppercase;
  opacity: 75%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
  background: #74C69D;
  padding: 53px 0;
}

.footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrapper .social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__wrapper .social .social__list .social__item .social__link {
  display: inline;
}

.footer .footer__wrapper .social .social__list .social__item .social__link svg {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footer__wrapper .social .social__list .social__item .social__link:hover svg {
  -webkit-transform: scale(130%) translateY(-10px);
      -ms-transform: scale(130%) translateY(-10px);
          transform: scale(130%) translateY(-10px);
}

.footer .footer__wrapper .social .social__list .social__item:not(:last-child) {
  margin-right: 20px;
}

.footer .footer__wrapper .privacy p {
  font-size: 1.42rem;
  color: #fff;
}

@media (max-width: 1024px) {
  .talents .talents__team .talents__content {
    -ms-grid-columns: (252px)[2];
    grid-template-columns: repeat(2, 252px);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2.14rem;
  }

  .header {
    padding: 0 0 40px;
  }

  .header .navbar {
    padding: 17px 20px 32px;
  }

  .header .navbar .navbar__logo svg {
    max-width: 45px;
  }

  .header .navbar .navbar__logo h1 {
    font-size: 2.1rem;
  }

  .header .navbar .navbar__list {
    display: none;
  }

  .header .navbar .navbar__burger {
    display: block;
  }

  .header .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .header .offer .offer__content {
    margin-right: 0;
  }

  .header .offer .offer__content .offer__btn {
    margin-top: 25px;
  }

  .header .offer .offer__wrappre {
    margin-bottom: 30px;
  }

  .partners {
    padding: 20px 0 30px;
  }

  .partners .partners__cases .partners__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .partners .partners__cases .partners__list .partners__item:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .text-1 .text-1__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .text-2 .text-2__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .text .text__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .text .text__wrapper .text__content {
    margin: 30px 0 0 0;
  }

  .footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .footer__wrapper .social {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .talents .talents__team .talents__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .talents .talents__team .talents__content .talents__card {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .footer .footer__wrapper .privacy p {
    font-size: 1.07rem;
    line-height: 1.4rem;
  }
}